/node_modules
.parcel-cache
/components/admin
/components/footer
/components/header
/components/home
/components/profile
/components/researchs
/components/signin
/components/signup
/actions/notificationActions.js
/actions/researchActions.js
/actions/userActions.js
/reducers/notificationReducer.js
/reducers/researchReducer.js
/reducers/userReducer.js
/reducers/usersReducer.js
/API
/dist
/constants
/img