/node_modules
.parcel-cache
/components/admin
/components/footer
/components/header
/components/home
/components/profile
/components/sessions
/components/signin
/components/signup
/actions/notificationActions.js
/actions/sessionActions.js
/actions/userActions.js
/reducers/notificationReducer.js
/reducers/sessionReducer.js
/reducers/userReducer.js
/reducers/usersReducer.js