/node_modules
.parcel-cache
/components/researchs
/components/sessions
/components/signin
/components/signup
/reducers/researchReducer.js
/reducers/sessionReducer.js
/reducers/userReducer.js
/actions/notificationActions.js
/actions/researchActions.js
/actions/sessionActions.js